<section class="container-fluid">

  <div class="row">
    <div
      class="col-lg-6 col-md-6 col-sm-12 vh-100 text-light d-flex align-items-center d-flex justify-content-center order-lg-2 order-2 left-side">
      <div class="w-75 intro">
        <h1 class="mb-4">Powerful. Simple. Affordable.</h1>
        <div>
          <h3><img
              src="https://th.bing.com/th/id/R.5c9453dd0b7806a876ceca3148a6e8c0?rik=oBNBUOf%2b6UkYpw&riu=http%3a%2f%2fclipart-library.com%2fnew_gallery%2f36-364069_white-check-mark-circle.png&ehk=D2OC4QcxCeyass3B2vRMD1CHwfK2ddEIohIoOgQ8Fv4%3d&risl=&pid=ImgRaw&r=0"
              width="20" alt=""> Grow your audience</h3>
             
        </div>
        <div class="mt-3">
          <h3><img
              src="https://th.bing.com/th/id/R.5c9453dd0b7806a876ceca3148a6e8c0?rik=oBNBUOf%2b6UkYpw&riu=http%3a%2f%2fclipart-library.com%2fnew_gallery%2f36-364069_white-check-mark-circle.png&ehk=D2OC4QcxCeyass3B2vRMD1CHwfK2ddEIohIoOgQ8Fv4%3d&risl=&pid=ImgRaw&r=0"
              width="20" alt=""> Build beautiful emails</h3>
        </div>
        <div class="mt-3">
          <h3><img
              src="https://th.bing.com/th/id/R.5c9453dd0b7806a876ceca3148a6e8c0?rik=oBNBUOf%2b6UkYpw&riu=http%3a%2f%2fclipart-library.com%2fnew_gallery%2f36-364069_white-check-mark-circle.png&ehk=D2OC4QcxCeyass3B2vRMD1CHwfK2ddEIohIoOgQ8Fv4%3d&risl=&pid=ImgRaw&r=0"
              width="20" alt=""> Set campaigns on autopilot</h3>
        </div>
        <div class="mt-3">
          <h3><img
              src="https://th.bing.com/th/id/R.5c9453dd0b7806a876ceca3148a6e8c0?rik=oBNBUOf%2b6UkYpw&riu=http%3a%2f%2fclipart-library.com%2fnew_gallery%2f36-364069_white-check-mark-circle.png&ehk=D2OC4QcxCeyass3B2vRMD1CHwfK2ddEIohIoOgQ8Fv4%3d&risl=&pid=ImgRaw&r=0"
              width="20" alt=""> Tailor your messages</h3>
         </div>
         <div class="mt-3">
          <h3><img
              src="https://th.bing.com/th/id/R.5c9453dd0b7806a876ceca3148a6e8c0?rik=oBNBUOf%2b6UkYpw&riu=http%3a%2f%2fclipart-library.com%2fnew_gallery%2f36-364069_white-check-mark-circle.png&ehk=D2OC4QcxCeyass3B2vRMD1CHwfK2ddEIohIoOgQ8Fv4%3d&risl=&pid=ImgRaw&r=0"
              width="20" alt=""> Analyse the results</h3>
         </div>

      </div>
    </div>
    <div
      class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-center my-5 py-lg-0 py-md-0 py-5 order-lg-1 order-1">
      <div>
        <div class="company-logo text-center">
          <a href=""><h1>ByFaster</h1></a>
        </div>
        <div class="card mt-5">

          <div class="card-body">
            <form #registerUser="ngForm" (ngSubmit)="signupUserFunc(registerUser)" class="needs-validation" novalidate="">
              <div class="mb-3">
                <label for="emailAdderss" class="form-label">Email Address</label>
                <input type="email" name="emailAdderss" #emailAdderssRef="ngModel" class="form-control " ngModel
                  required>
                <div *ngIf="emailAdderssRef.errors && (emailAdderssRef.dirty || emailAdderssRef.touched)"
                  style="text-align:left; color:red;">
                  <div [hidden]="!emailAdderssRef.errors">
                    <p class="mt-2"><svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                        stroke-linecap="round" stroke-linejoin="round" class="mr-1 h-3 w-3" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="16" x2="12" y2="12"></line>
                        <line x1="12" y1="8" x2="12.01" y2="8"></line>
                      </svg> Required</p>

                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" #passwordRef="ngModel" class="form-control " ngModel required>
                <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)"
                  style="text-align:left; color:red;">
                  <div [hidden]="!passwordRef.errors">
                    <p class="mt-2"><svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                        stroke-linecap="round" stroke-linejoin="round" class="mr-1 h-3 w-3" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="16" x2="12" y2="12"></line>
                        <line x1="12" y1="8" x2="12.01" y2="8"></line>
                      </svg> Required</p>

                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-dark col-12" [disabled]="!registerUser.form.valid">Sign Up</button>
            </form>
            <div>
              <p class="pt-3">Already have an account ? <span><a href="signin">Sign In</a></span> </p>
            
            </div>
          </div>


          <div class="card-footer text-muted">
            <p>By signing up, you agree to our terms & privacy policy.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>